.container-home {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.container-infos {
  height: 80vh;
  width: 80%;
}

.profile-section,
.about-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;

}

.profile-section img {
  background-image: url('src/assets/Gradient.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background: radial-gradient(circle, #763CAC, #320F85); */
  margin-top: 3rem;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1); */
  transition: transform 0.3s ease;
}
.profile-section img:hover {
  /* background-image: url('src/assets/Ellipse.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  transform: scale(1.1);
}

.profile-section h1,
.about-section h1 {
  font-size: 1.8rem;
  color: #20c997;
  margin-top: 2rem;
  /* font-family: "Preahvihear", sans-serif;
  font-weight: 400;
  font-style: normal; */
}

.about-section p {
  color: #9ca3af;
  font-weight: 800;
  text-align: justify;
  font-size: 1.1rem;
  margin-bottom: 3rem;
  line-height: 1.5rem;
  padding: 0 11rem;
}

.icon-container {
  font-size: 2.0rem;
}

.icon-container i {
  margin-right: 10px;
  &:hover {
    transform: scale(1.2);
    color: #20c997;
  }
}
@media (max-width:414px) {

}
@media (max-width: 685px) {
  .container-infos {
    height: 55vh;
    width:80%;
  }
  .about-section p {
    padding: 0 2rem;
  }
}

@media (max-width: 768px) {
  .container-infos {
    height: 55vh;
    width:80%;
    margin-bottom: 2rem;
  }
  .about-section p {
    padding: 0 2rem;
  }
  .profile-section img {
    margin-top: 3rem;
    width: 150px;
    height: 150px;
  }
}