.card {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-image: url("./src/assets/Gradient.svg");
    background-size: 20rem;
    background-position: center;
    background-repeat: no-repeat;
    margin: 1rem 0;
    padding: 1rem 0;
}

.project-description {
    line-height: 1.1rem;
    font-size: 0.9rem;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
    background-color: rgba(0, 0, 0, 0.195);
    border-radius: 1rem;
}

.card-content-text {
    width: 50%;
}
.card-image {
    width: 50%;
    border-radius: 1rem;
}

.card img {
    object-fit: contain;
    width: 400px;
    height: 300px;
    transition: 0.3s;
    border-radius: 4px;
}

.card img:hover {
    transform: translateY(-5px);
    /* box-shadow: 0 0 8px 4px #e4d6de69; */
    /* filter: grayscale(1%); */
}

.card-content {
    display: flex;
    margin-top: 30px;
    width: 100%;
    padding: 1rem;
}

.card-content h3 {
    text-align: center;
    margin-bottom: 1rem;
}

.card-links {
    display: flex;
    align-items: center;
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}

.card-links a {
    text-decoration: none;
    position: relative;
    margin-right: 10px;
    color: #FFFFFF;
}

.button {
    width: 100%;
    padding: 10px 10px;
    font-size: 0.8rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: var(--secondary-color);
    background-color: #1f1b1bf7;

}

.button:hover {
    color: #9ca3af;
}

.icon {
    margin-right: 0.5rem;
}